
# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*
!.env.example

# Application local configs
application-local.yml
application-dev-local.yml

# Build output
out/
bin/